#animate {
    height: 100vh;
    background-color: #4F75FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 550px;
    height: 350px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 5s;
}

.b1 {
    height: 150px;
    width: 50px;
    background-color: #000;
    animation-name: slide;
    animation-duration: 4s;
    position: absolute;
    animation-delay: 1s;

    top: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes slide {

    0% {
        /* align-items: flex-start; */
        position: absolute;
        top: 57%;
    }

    50% {
        /* align-items: flex-end; */
        position: absolute;

        top: 0%;
    }

    100% {
        position: absolute;
        top: 57%;
    }

}


.b2 {
    height: 150px;
    width: 50px;
    background-color: #000;
    animation: slide1 4s infinite ease-in-out;
    position: absolute;
    animation-delay: 1s;
    top: 100%;
    right: 0;

}

@keyframes slide1 {

    0% {
        /* align-items: flex-start; */
        position: absolute;
        top: 0%;
    }

    50% {
        /* align-items: flex-end; */
        position: absolute;

        top: 57%;
    }

    100% {
        position: absolute;
        top: 0%;
    }
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    animation: play 4s infinite ease-in-out;

}


@keyframes play {
    0% {
        position: absolute;
        top: 50%;
        left: 9%;
    }


    50% {
        position: absolute;
        top: 50%;
        left: 78.5%;
    }

    100% {
        position: absolute;
        top: 50%;
        left: 9%;
    }


}